$primary: #c8e08a;
$secondary: #3b3b3b;
$ft-color: #ffffff;
$bg-color: #f0f0f0;
$err-color: rgb(255, 33, 33);

$ft-family: 'Lato', sans-serif;

$ft-title: 2rem;
$ft-label: 1.2rem;
$ft-text: 1.4rem;
$ft-height: 1.8rem;

$ft-light: 300;
$ft-regular: 400;
$ft-bold: 700;

.article {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    background: $secondary;
    box-shadow: 1px 1px 5px black;
    padding: 15px;
}

.col {
    &-2-30 {
        flex: 0 30%;
    }
    &-2-70 {
        flex: 0 70%;
    }
}

.avatar {
    margin-right: 15px;
    border-right: 2px solid $primary;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $primary;
    }

    span {
        color: $primary;
        margin: 10px 0;
        display: block;
        font-weight: 400;
        font-size: 2rem;
    }

}

.story {
    display: flex;
    flex-flow: column nowrap;
    .error-message {
        color: $err-color;
        font-size: $ft-label;
    }
    .title {
        h2 {
            font-size: $ft-title;
            color: $primary;
            margin-bottom: 10px;
        }
        .input {
            border: 2px solid $primary;
            border-radius: 6px;
            font-family: $ft-family;
            font-size: $ft-text;
            font-weight: $ft-regular;
            background: $bg-color;
            color: $secondary;
            padding: 5px;
            min-width: 100%;
            margin-bottom: 5px;
        }
    }
    .message {
        color: $ft-color;
        font-size: $ft-text;
        font-weight: $ft-regular;
        line-height: $ft-height;
        white-space: pre-wrap;
        .textarea {
            margin-top: 10px;
            margin-bottom: 5px;
            border: 2px solid $primary;
            border-radius: 6px;
            font-family: $ft-family;
            font-weight: $ft-regular;
            font-size: $ft-text;
            background: $bg-color;
            color: $secondary;
            padding: 5px;
            min-width: 100%;
            min-height: 100px;
        }
    }
    .article-footer {
        margin-top: 10px;
        text-align: right;
    }

    .bt {
        margin-top: 10px;
        background: $secondary;
        color: $primary;
        padding: 5px 10px;
        outline: none;
        border: 2px solid $primary;
        font-size: $ft-label;
        font-family: $ft-family;
        font-weight: $ft-regular;
        transition: all 0.3s linear;
        &:hover {
            transition: all 0.3s linear;
            background: $primary;
            color: $secondary;
        }
        &-left {
            border-radius: 6px 0px 0px 6px;
            border-right: none;
        }
        &-right {
            border-radius: 0px 6px 6px 0px;
        }
        &-active {
            transition: all 0.3s linear;
            background: $primary;
            color: $secondary;
        }
    }
    .error-border {
        border: 2px solid $err-color !important;
    }
}



.meta {
    color: $ft-color;
    font-style: italic;
    font-weight: 300;
    font-size: 1.1rem;
}

.delete-confirm {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $secondary;
    text-align: center;
    p {
        font-size: $ft-title;
        color: $ft-color;
    }
}